body::-webkit-scrollbar {
    display: none;
}

.i {
    font-family: cursive;
}

.bg_container {
    z-index: -1;
}

.left_bg,
.right_bg {
    width: 50vw;
    background-image: url('assets/images/bg_2.jpg');
    height: 64.8vh;
}


@media screen and (min-width: 1439px) {

    .nav,
    .what {
        width: 65%;
    }
}

@media (max-width: 768px) {
    .nav_animate {
        display: none !important;
        /* Hide the element on mobile screens */
    }
}

.active {
    background-color: #78d5ef;
    color: white;
    border-radius: 24px;
}

.nope {
    color: #a4a3a3;
}

.nope:hover {
    color: black;
}


.xx div {
    background-color: #fce0dc;
}