body::-webkit-scrollbar {
    display: none;
}


@media screen and (min-width: 1439px) {
    .nav {
        width: 65%;
    }
    .navv{
        width: 78%;
    }
}

@media (max-width: 768px) {
    .nav_animate {
        display: none !important; /* Hide the element on mobile screens */
    }
}

.hero_bg {
    background-image: url('assets/images/bg_2.jpg');
    z-index: -1;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}


.trans {
    transition: all 0.3s ease;
}

.trans:hover {
    transition: all 0.3 ease;
}

.logo {
    font-family: "poppins";
}