body::-webkit-scrollbar {
    display: none;
}

.bg_image {
    background-image: url('assets/images/ll.jpg');
    z-index: -1;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.nav{
    font-family: "poppins";
}

@media screen and (min-width: 1439px) {
    .nav {
        width: 65%;
    }
}
@media (max-width: 768px) {
    .nav_animate {
        display: none !important; /* Hide the element on mobile screens */
    }
}
.move, .moves {
    background-color: #3fa981;
    font-family: cursive;
    color: #fff;
}

.marque {
    flex-shrink: 0;
}