@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Edu+AU+VIC+WA+NT+Hand:wght@400..700&family=Fredoka:wght@300..700&family=Gothic+A1:wght@300;400;700&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Mukta:wght@200;300;400;500;600;700;800&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Yatra+One&display=swap');

body {
    font-family: 'poppins';
}

body::-webkit-scrollbar {
    display: none;
}

.hero_bg {
    background-image: url('assets/images/asset 0.jpeg');
    z-index: -1;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.menu_drop li {
    opacity: 0;
}

.trans {
    transition: all 0.3s ease;
}

.trans:hover {
    transition: all 0.3 ease;
}

.hero_material {
    height: 90vh;
    width: 65%;
}

.rest_items div:hover path {
    fill: white;
}

.rest_items div:hover .location path {
    stroke: white;
    color: #fff;
    fill: none;
}

.card_grand {
    background-color: #f8faff;
}

@media only screen and (max-width: 720px) {
    .hero_content h1 {
        font-size: 43px;
    }
}

@media screen and (min-width: 1439px) {

    .hero_content,
    .cards,
    .featured,
    .hotels {
        width: 65%;
    }
}

@media screen and (min-width: 720px) {
    .cards {
        margin-top: 0px;
    }

    .cards {
        margin-top: -44px;
    }
}

.num_bg {
    background-image: url('assets/images/asset\ 0.jpeg');
    z-index: -1;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.5;
    background-color: rgba(24, 89, 199, 0.729);
    /* height: 780px; */
}

.xx {
    background: rgba(5, 197, 231, 0.7)
}

.sub_footer{
    background: linear-gradient(135deg, #2ebdc4 0%, #68e5b2 100%);
}

.sub_footer input{
    outline: none;
    /* padding: 10px; */
    background: none;
    color: #fff;
} 

.sub_footer input::placeholder{
    color: #c8f1eb;
}
footer i{
    background-color: #2d333c;
}