body::-webkit-scrollbar{
    display: none;
}
/* body{
    overflow-x: hidden;
} */
.bg_image{
    background-image: url('assets/images/bg_3.jpg');
    /* background-position: center; */
    /* background-size: cover; */
    z-index: -1;
}

@media screen and (min-width: 1439px) {
    .nav {
        width: 65%;
    }
}
@media (max-width: 768px) {
    .nav_animate {
        display: none !important; /* Hide the element on mobile screens */
    }
}

.text_color{
    font-family: "Poppins", sans-serif;  
}
.nav, button{
    font-family: "poppins";
}
.text h1{
    color: #9b9393;
}

.text h2{
    color: #9b9393;
}


.text h1, .text_change h1, .text h2, .text_change h2{
    font-size: 4vw;
    font-weight: 400;
    position: absolute;
    left: 15%;
    top: 40%;
    /* width: 70%; */

}

.text_change h2, .text h2{
    margin: 100px 0px;
   
}
.text_change h1, .text_change h2{
    width: 0%;
    white-space: nowrap ;
    /* text-wrap: nowrap; */   /* koi bhi ek use krlo */
    overflow: hidden;
    color: #333;
}
footer i{
    background-color: #2d333c;
}